#header {
    color: red;
}
* {
    font-family:fantasy
}
#name-input
{ background-color:aqua;
}
button{
    border-radius: 30px;
    cursor: pointer;
}
button:hover{
    background-color: crimson;
}
#email-input {
    background-color: aqua;
}
#reply-button:hover{
    background-color: cornflowerblue;
}
#play-button:hover {
    background-color: darkorchid;
}
h3{
    color:green;
}
ul{
    color:darkblue;scroll-snap-type: ;
}
h2{
    color:crimson;
}